@font-face {
    font-family: 'myfont-bold';
    src: url('../assetis/fonte/DMSans-Bold.ttf');
  }

$green: #00DF5E;
$whith: #F9F9F9;
$gray-200: #333333;
$dark: #171717;
$gray-400:#212121;
$gray :#828282;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: $dark;
    font-family: 'myfont-bold'; 
    margin-top: 35px;
    color: $whith;
}

header{
    // max-width: 1200px;
    margin: auto;
    padding: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 116px;
}
nav a{
    color: #fff;
}
// nav{
//     position: relative;
//     display: block;
// }
.btnOpen{
    display: none;
}
.btnClose{
    display: none;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
}
main{
    // max-width: 1200px;
    margin: auto;
    padding: 17px;
}
.apresentacao{
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0;
    article{
        height: 215px;
        width: 337px;
        h1{
            font-family: 'myfont-bold';
            font-weight: 700;
            font-size: 36px;
            line-height: 47px;
        }
        p{
            font-weight: 500;
            font-size: 18px ;
            line-height: 23px;
            color: $gray;
            margin-top: 18px;
            margin-bottom: 35px;
        }
        div{
            .btn-1{
                background: $green;
                color: $dark;
                border: none;
            }
            .btn-2{
                background: $dark;
                color: $whith;
                border: 1px solid $whith;
            }

            button{
                width: 143px;
                height: 42px;
                font-size: 14px;
                font-weight: 500px;
                line-height: 18.13px;
                cursor: pointer;
            }
        }
    }
    .img-perfil{
        display: block;
        width: 100%;
        max-width: 375px;
    }
}

.sobre-mim{
    // background: #333333;
    text-align: center;
    padding: 127px 0;
    
    .conteudo-escrito{
        margin: auto;
        max-width: 745px;
        margin-bottom: 85px;
        h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 30px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: $gray;
        }
    }

    .conteudo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

}

.projetos{
    background: black;
    padding: 127px;
    div{

        display:flex;
        flex-direction: row;
        gap: 40px;
    }
    h1{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
    }
    .projetos-text{
        margin: auto;
        text-align: left;
        width: 350px;
        height: 240px;
        background: $gray-200;
        h2{
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            margin: 0 25px;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: $gray;
            margin: 0 25px;
        }
        .img{
            // display: block;
            margin: 20px 25px;
            width: 100%;
            max-width: 300px !important;
            height: 130px;
            // background: $gray-400;
            img{
                width: 100% ;
            }
        }
    }
}

.servico-1{
    padding: 116px 0;
    h1{
        text-align: center;
        margin-bottom: 30px;
    }
    .servico{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin: auto;
    
        margin-bottom: 127px;
    
        .sites{
            background: $gray-200;
            width: 350px;
            height: 240px;
            border-bottom:5px solid $green;
            // margin: auto;
            h2{
                margin: 40px;
                font-weight: 500;
                font-size: 32px;
                line-height: 42px;
                color: $gray;
            }
            img{
                margin: 30px 40px 0 ;
            }
        }
    }
}

.skills-1{
    margin-bottom: 185px;
    h1{
        text-align: center;
        margin-bottom: 30px;
    }
    .skills{
        margin: auto;
        gap: 51px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            background: $gray-200;
            padding: 35px;
        }
    }
}


footer{
    max-width: 100vw;
    
    text-align: center;
    background: $gray-200;
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    // nav{
    //     width: 0;
    // }
   #menu{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 45px;
        background: #212121;
        padding: 2rem 0;
        overflow: hidden;
        transition: width 0.4s;
   }

        .btnOpen{
             display: block;
        }
        .btnClose{
             display: block;
        }
        .btnClose img{
             color: black !important;
        }

    .apresentacao{
        flex-wrap: wrap;
        text-align: center;
        article{
            margin: auto;
            width: 100%;
            div{
                display: flex;
                button{
                    width: 45% !important;
                    margin: 12px; 
                }
            }
        }
        .img-perfil{
        display: none;
    }
}
.sobre-mim{
    .conteudo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

.projetos{
    div{
        display: grid;
       grid-template-columns: repeat(1, 1fr);
        img{
            height: 50%;
        }
    }
}

.servico{
    flex-wrap: wrap;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}
}

@media (max-width: 500px) {
    .sobre-mim{
        .conteudo{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    
        }
    }
}